
.icon-newsusers:before { content: '\e803'; } /* '' */
.icon-newscog:before { content: '\e80d'; } /* '' */
.icon-newshome:before { content: '\e801'; } /* '' */
.icon-newsrss:before { content: '\e800'; } /* '' */
.icon-newsbook:before { content: '\e805'; } /* '' */
.icon-newsfire:before { content: '\e806'; } /* '' */
.icon-newssitemap:before { content: '\e804'; } /* '' */
.icon-newsth-list:before { content: '\e802'; } /* '' */
.icon-newsmail:before { content: '\e809'; } /* '' */
.icon-newscamera:before { content: '\e808'; } /* '' */
.icon-newsnews:before { content: '\e80a'; } /* '' */
.icon-newsreligious-jewish:before { content: '\e80b'; } /* '' */
.icon-newsaddress-book:before { content: '\e80c'; } /* '' */
.icon-newsrss-alt:before { content: '\e80e'; } /* '' */
.icon-newsbook-open:before { content: '\e807'; } /* '' */