
.icon-users:before { content: '\e800'; } /* '' */
.icon-googleplus-rect:before { content: '\e80f'; } /* '' */
.icon-keyboard:before { content: '\e814'; } /* '' */
.icon-gamepad:before { content: '\e813'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-desktop:before { content: '\e803'; } /* '' */
.icon-sun:before { content: '\e804'; } /* '' */
.icon-leaf:before { content: '\e815'; } /* '' */
.icon-dot-circled:before { content: '\e805'; } /* '' */
.icon-bug:before { content: '\e816'; } /* '' */
.icon-beaker:before { content: '\e817'; } /* '' */
.icon-sitemap:before { content: '\e818'; } /* '' */
.icon-anchor:before { content: '\e819'; } /* '' */
.icon-vcard:before { content: '\e807'; } /* '' */
.icon-map:before { content: '\e806'; } /* '' */
.icon-book-open:before { content: '\e808'; } /* '' */
.icon-hourglass:before { content: '\e81a'; } /* '' */
.icon-th:before { content: '\e801'; } /* '' */
.icon-gplus-circled:before { content: '\e812'; } /* '' */
.icon-globe-alt:before { content: '\e809'; } /* '' */
.icon-check:before { content: '\e81b'; } /* '' */
.icon-flow-merge:before { content: '\e80a'; } /* '' */
.icon-puzzle-outline:before { content: '\e81c'; } /* '' */
.icon-box:before { content: '\e80b'; } /* '' */
.icon-article-alt:before { content: '\e80c'; } /* '' */
.icon-bullhorn:before { content: '\e81d'; } /* '' */
.icon-minefield:before { content: '\e80d'; } /* '' */
.icon-email:before { content: '\e81e'; } /* '' */
.icon-group:before { content: '\e81f'; } /* '' */
.icon-location:before { content: '\e821'; } /* '' */
.icon-location-circled:before { content: '\e822'; } /* '' */
.icon-globe:before { content: '\e820'; } /* '' */
.icon-rss-alt:before { content: '\e810'; } /* '' */
.icon-facebook-rect:before { content: '\e80e'; } /* '' */
.icon-facebook-circled:before { content: '\e811'; } /* '' */